name: GitHub Actions Build and Deploy Demo

on:
  push:
    branches:
      - master

env:
  TZ: Asia/Shanghai

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4  # 升级到 v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install and Build
        run: |
          npm install
          npm run build  # 确保输出目录是 vuepress

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.ACONGM_VUEPRESS }}  # 使用 PAT
          branch: gh-pages
          folder: vuepress
          force: true  # 替代 force_orphan
